body
{
    background-color: rgb(0,255,0);
}

.main
{
    display: block;  width: 50%;  height: 520px;  margin: 70px auto auto auto;  text-align: center; background-color: white;
}

#title
{
    color: black;
}

#image
{ position: relative;  justify-content: center;

    diplay: inline-block;
}

#img-caption
{
    font-size: 15px;
}

.tribute-info
{
    display: block;  padding: 20px;  text-align: center;  color: black; background-color: lightgray;
}

.year
{ line-height: .6cm;

    display: inline-block;  width: 600px;  text-align: justify;
}

.footer,
.footer-element a
{ padding: 10px;; text-decoration: none;

    color: black;
}
