body
{
    background-color: lightgray;
}

.company-name
{
    display: flex;  align-items: center;  width: 50%;  color: magenta; postion: fixed;
}


#header-img
{
    width: 100px;  height: 100px;
}

#nav-bar
{
    display: grid;  justify-content: end;  width: 100%;  grid-template-columns: 50px 50px 50px;
}

.nav-link
{ font-size: 18px;

    display: grid;  margin: 0 auto; border-width: 2px;  border-style: solid;  border-color: magenta;  border-radius: 20%;
}


.sign-up-page
{ display: flex;  align-items: center; justify-content: center;

    height: 350px;
}

.email-form
{ margin-bottom: 20px;

    text-align: center;
}

.email-labels
{ font-size: 30px;

    display: block;  margin: 0 0 5px 0;  text-align: center;
}

.inputs
{ font-size: 15px;

    display: block;  padding: 0 0 20px 0;
}

.additional-product
{ font-size: 20px; display: flex;  justify-content: center;

    height: 350px;
}

.shippping-label
{
    font-size: 15px;  align-items: center;
}

.returning-label
{
    font-size: 15px;  align-items: center;
}

.video-content
{
    display: flex;  justify-content: center; height: 600px;
}

.video
{ width: 320px;  height: 400px;

    text-align: center;  color: black;
}

.ladies
{ width: 300px;
    height: 600px;  background-color: black;  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEhZ90WrFE-gK7vrPeK3_YrK1FfseaErT1Z07mVBWrxoIejZPYqxhnUpHe3qa7F4FYNjnKpvge&usqp=CAc);
}

@media only screen and(max-width: 600px)
{
    body
    {
        background-color: skyblue;
    }
}
